<!--
<h1>
  {{title}}
</h1>
<app-parent>Loading...</app-parent>
<app-parent-rochild-input>Loading...</app-parent-rochild-input>
<app-child-to-parent>Loading...</app-child-to-parent>
<app-viewchild>Loading...</app-viewchild>
<some-cmp>Loading...</some-cmp>
<app-contentchild>Loading...</app-contentchild>
<app-contentchildren>Loading...</app-contentchildren>
<app-hello>Loading...</app-hello>
<oop-cmp>Loading...</oop-cmp>
<mock>Loading...</mock>
<promise>Loading...</promise>
-->
<h1>
  {{title}}
</h1>
<router-outlet></router-outlet>